

div {

    height: 800px;
    width: 800px;


}

#ruta1{

    background-color: blue;

}

#ruta2{

    background-color: white;
}

#ruta3{
    
    background-color: red;
}

#container{
    display: flex;

}